body {
  margin: 0;
  font-family: 'Segoe UI';
}

.app-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.aligned-content {
  margin-top: 100px;
  text-align: center;
}

.submit-button {
  margin: 10px auto;
  height: 30px;
  width: 60px;
  background-color: white;
  border: none;
  display: block;
}